
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
	margin:0;
	padding:0
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}

strong {
	font-weight:bold;
}

ul, li {
	list-style:none;
	list-style-position: inside;

}

em {
	font-style:italic;
}

img {
	border:none;
}

a {
	outline: none;
	text-decoration:none !important;
	color:#09C !important;
}

html {
	overflow-y:scroll;
}

body {
	font-family: "minion-pro-1", "minion-pro-2", "Times New Roman", Georgia, serif;
	margin:0;
	color:#111;
	font-size:16px;
}

h1 {
	font-family: sans-serif;
	font-size:50px;
}

h2 {
	font-size:48px;
}

h3 {
	font-size:28px;
	margin: 15px;
}

h4 {
	font-size:20px;
}

p {
	font-size:16px;
	line-height:24px;
}

ul {
	font-size:16px;
	line-height:24px;
	margin-left:50px;
}

small {
	font-size:14px;
}

a {
	color:#51F;
	text-decoration:underline;
}

.clear {
	clear:both;
}

.gap {
	height:30px;
}

.lucida {
	font-family: "Lucida Grande", Tahoma;
	color:#CCC;
}

#wrap {
	margin:0 auto;
	min-width:920px;
	max-width:1100px;
	padding:20px 40px 0 40px;
}

#content {
	margin:16px auto 0 auto;
	min-width:920px;
	max-width:1100px;
	padding:20px 40px;
	background-color:#EEE;
}

#background {
	display:none;
	background-color:#EEE;
}

.nowrap {
	white-space:nowrap;
}

.menu_item {
	width:22%;
	float:left;
	margin-right:4%;
}

.menu_item_last {
	width:22%;
	float:left;
	margin-right:0;
}

.entry {
	width:100%;
	margin-top:20px;
}

/* HEADER */
#header {
	text-align:center;
	margin-top:0;
}

#header h5 {
	font-size:16px;
	text-align:center;
	margin: 5px;
}

#header img {
	text-align:left;
}

#header h1 {
	letter-spacing:-2px;
	word-spacing:10px;
	margin:10px 0 10px 0;
	line-height:1;
}

#header h1 span {
	letter-spacing:-0.13em;
	padding-right:0.06em;
}

#header h4 {
	padding:18px 0;
	border-top:4px double #CCC;
	border-bottom:4px double #CCC;
}

#header h4 span {
	letter-spacing:-0.06em;
	padding-right:0.03em;
}

/* NAVIGATION */
#nav {
	margin-top: 5px;
	margin-bottom: 15px;
}

#nav h3 {
	font-size:22px;
	background-color:#FFF;
	margin-left: 10px !important;
}

#nav p {
	font-size:14px;
	margin-top:5px !important;
	margin-left: 10px !important;
}


#nav div.hover h3 {
	color:#F00;
}

#nav div.hover p {
	color:#111;
}

#nav div.hover .lucida {
	color:#FFBFBE;
}

#nav div.hover {
	cursor:pointer;
}

#nav div.inactive {
	color:#CCC;
}

#nav a {
	color:#111 !important;
}

#footer small {
	font:12px/24px "Lucida Grande", Verdana, Tahoma;
}

#footer {
	margin:10px 0 10px 0;
	text-align:center;
	color:#777;
	background:F1F1F1;
}

#content #footer {
	color:#CCC;
	margin:0;
}

#main_contents {
	background:#F1F1F1 !important;
	margin-top: 10px;
	padding:20px;
}

#main_contents h4 {
	text-align:center;
}

#main_contents h4 a {
	text-decoration:none;
}

#main_contents iframe,  #main_contents .text{
	margin-left:50px;
}

#main_contents h5 {
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top:10px;
}



#program .item ul li{
	list-style-type:none;
	
}

#program h3 {
	text-align:center;
}

#program .item {
	margin-left: 100px;
	font-size:18px;
	margin-bottom: 30px;
}

#program .item p {
	margin-left: 50px;
	font-size:14px;
	padding: 10px;
}

#program .item h4 {
	text-align:left;
	font-size:18px;
	margin-bottom: 20px;
}

